<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="author" content="www.xmoban.cn">
<title>404 NOT FOUND</title>
<link rel="stylesheet" type="text/css" href="/static/404/styles.css" />
</head>

<body style="text-align:center">
<div id="rocket"></div>

<hgroup>
    <h1>Page Not Found</h1>
    <h2><a href="/index/">Go back to index</a></h2>
</hgroup>

<script src="http://www.16sucai.com/uploadfile/show/jQuerycss3muen1/js/jquery.min.js"></script>
<script src="/static/404/js/script.js"></script>
</body>
</html>
